@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1jikv4');
  src:  url('fonts/icomoon.eot?1jikv4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1jikv4') format('truetype'),
    url('fonts/icomoon.woff?1jikv4') format('woff'),
    url('fonts/icomoon.svg?1jikv4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars-solid:before {
  content: "\e904";
}
.icon-facebook-brands:before {
  content: "\e900";
}
.icon-github-brands:before {
  content: "\e901";
}
.icon-user-graduate-solid:before {
  content: "\e902";
}
.icon-whatsapp-brands:before {
  content: "\e903";
}
