@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1jikv4');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1jikv4#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1jikv4') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1jikv4') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1jikv4##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars-solid {
  &:before {
    content: $icon-bars-solid; 
  }
}
.icon-facebook-brands {
  &:before {
    content: $icon-facebook-brands; 
  }
}
.icon-github-brands {
  &:before {
    content: $icon-github-brands; 
  }
}
.icon-user-graduate-solid {
  &:before {
    content: $icon-user-graduate-solid; 
  }
}
.icon-whatsapp-brands {
  &:before {
    content: $icon-whatsapp-brands; 
  }
}

