$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-bars-solid: "\e904";
$icon-facebook-brands: "\e900";
$icon-github-brands: "\e901";
$icon-user-graduate-solid: "\e902";
$icon-whatsapp-brands: "\e903";

