* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body, html{
  overflow-x: hidden;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem;
  min-height: 80px;
  background-color: #ffffff;
  font-family: sans-serif;
}
/* menu */
header nav.menu {
  position: relative;
}
header nav.menu ul {
  display: flex;
}
header nav.menu ul li {
  margin-right: 1.5rem;
  justify-content: center;
}
header nav.menu ul li a {
  padding: 1.5rem 10px;
  color: #1e266d;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
header nav.menu::before {
  content: '';
  width: calc(312px - 23px);
  height: 3px;
  background-color: rgba(0, 0, 0, 0.089);
  position: absolute;
  bottom: -26px;
}
header nav.menu ul li a:hover {
  border-bottom: 2px solid blue;
  color: gray;
}

/* logo */
header h2.logo, footer h2.logo {
  border-left: 5px solid #3751ff;
  padding-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  line-height: 100%;
  color: #1e266d;
}
header nav.menu .hamburguer {
  display: none;
}
/* banner */
.banner img{
  width: 100vw;
  height:100vh;
  position: relative;
  z-index: 0;
}
.banner::before{
  content: '';
  background:rgba(0, 0, 0, 0.603);
  width:100%;
  min-height:100vh;
  position: absolute;
  top:10;
  left:0;
  z-index: 1;
}
.banner .texto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 45vh;
  position: absolute;
  color: white;
  z-index: 1;
  font-family: 'Roboto';
  left: 28.5vw;
  text-align: center;
}
.banner .texto h1{
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
}
.banner .texto span{
  font-weight: 400;
  opacity: 80%;
  margin: 1.5rem;
}
/* botoes */
a.botao {
  padding: 15px 5rem;
  border-radius: 25px;
  margin-top: 1rem;
  background: #3751ff;
  color: white;
}

/* secao conteudo */
section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  padding: 0 4.5rem;
  flex-wrap: wrap;
}
section.conteudo .texto{
  width: 500px;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
section.conteudo .texto a{
  margin-top: 2.5rem;
}
section.conteudo .texto h2, .dizem h2{
  font-size: 35px;
  color: #1E266D;
  margin-bottom: 2.5rem;
}
section.conteudo .texto p, section.cards .card p{
  font-size: 20px;
  color: grey;
  line-height: 30px;
}
section.conteudo img{
  width: 500px;
}

section.conteudo.b{
  background: #3751ff;
}
section.conteudo.b h2{
  color: white;
}
section.conteudo.b .texto p{
  color: white;
  opacity: 60%;
}
section.conteudo.b .texto a{
  background: white;
  color: #3751ff;
}
section.conteudo.c{
  margin-top: 2rem;
}
.active {
}

.dizem{
  font-family: Roboto,sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
/* cards */
section.cards{
  justify-content: space-around;
  min-height: 500px;
  padding-bottom: 10rem;
}
section.cards .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px ;
  min-height: 450px;
  text-align: center;
  border: 1px solid #3751ff;
  border-radius: 15px;
  padding: 1.5rem;
  font-family: Roboto, sans-serif;
}
section.cards .card i{
  font-size: 30pt;
  margin: 1rem;
  color: #3751ff;
}
section.cards .card span{
  font-size: 18pt;
  font-weight: 700;
  color: #1E266D;
  margin-bottom: 2px;
}
section.cards .card small{
  font-size: 14pt ;
  font-weight: 500;
  color: #455880;
  margin-bottom: 1rem;
}
section.cards .card p, footer p{
  font-size: 14pt;
  color: #455880;
}

/* footer */
footer{
  font-family: Roboto,sans-serif;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 4rem;
  background: #3751ff;
}
footer .content{
  width: 500px;
}
footer .content .logo{
  margin-bottom: 1.5rem;
  color: #fff;
  border-left: 5px solid #fff;
}
footer .content p{
  color: rgba(255, 255, 255, 0.897);
}
 footer .sumbenu ul li {
margin: 2rem 1rem;
}
 footer .sumbenu ul li a{
  color: lightgray;

 }
 footer .sumbenu ul li a:hover{
   color: #fff;
border-bottom: 2px solid #fff;
 }

footer .social{
  display: flex;
  flex-direction: column;
}
footer .social a{
  color: lightgrey;
  display: block;
  padding: 0.5rem;
  font-size: 25pt;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 95%;
  margin: 1rem;
}
footer .social a:hover{
  color: #3751ff;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 10px;
}
@media (max-width: 750px) {
  /* hamburguer menu */
  header nav.menu .hamburguer {
    display: flex;
  }
  header nav.menu .hamburguer i.fas.fa-bars {
    font-size: 18pt;
    cursor: pointer;
    padding: 1rem;
  }
  header nav.menu .hamburguer i.fas.fa-bars:hover {
    color: blue;
  }
  header nav.menu ul {
    display: none;
  }
  header nav.menu::before {
    display: none;
  }
}
